html {
    background-color: #ff0000;
}

body {
    margin: 0 auto;
    padding: 20px;
    max-width: 480px;
    display: block;
    background-color: #fff;
}

.omikuji {
    text-align: center;
    padding: 50px 20px;
    font-size: 20px;
    margin: 10px 5px;
    border: double 15px #fe0000;
    height: 100%;
}
.omikuji-headline {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: #fe0000;
    color: #fff;
    padding: 10px;
    font-family: "Yu Mincho", "serif";
    font-weight: 400;
    border: double 5px #fff;
}
.omikuji-result {
        margin: 50px;
}
.omikuji-button {
    background-color: #ff0000;
    color: #fff;
    font-style: "Yu Mincho", "serif";
    font-weight: 400;
    width: 90%;
    border: double 5px #fff;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}